body{
    background-color: #eee;
}
ul.transition{
    padding: 0;
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    li{
        transform: scaleY(0);
        background-color: white;
        width: 20%;
        display: block;
    }
}